@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

video {
  height: 300px;
  width: 400px;
  object-fit: cover;
  padding: 8px;
}
.main {
  height: 100vh;
  position: relative;
}

.bottom-actions {
  height: 80px;
}

.icon-parent {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #343434;
  margin: 0px 5px;
}

.icon-parent:hover {
  opacity: 0.8;
}

.users-length {
  position: absolute;
  top: 7px;
  background-color: #525151;
  color: white;
  width: 25px;
  text-align: center;
  border-radius: 50%;
  font-size: 15px;
}

.message-input:focus-visible {
  outline: none;
}

.main-chat {
  height: 80%;
  overflow-y: auto;
}

/* width */
.main-chat::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.main-chat::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.main-chat::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.main-chat::-webkit-scrollbar-thumb:hover {
  background: #555;
}
